
@using ApplicationService.ViewModels
@model ApplicationService.ViewModels.GetElectricCigaretViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "GetItemById";
}

<h1>Details</h1>


@using (Html.BeginForm("UpdateItem", "Home"))
{
    <fieldset id="thisform">
        <row>
            @Html.HiddenFor(c => c.Id)
            <div class="col-md-6">
                <div class="Error form-control text-danger" style="display:none;"> @ViewBag.ErrorMassag </div>
            </div>
            <div class="col-md-12">
                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Category, new { @class = "font-italic" })
                        @Html.TextBoxFor(model => model.Category, Model.CategoryText, new { @class = "form-control", @readonly = true ,@id="Category"})
                        @Html.ValidationMessageFor(c => c.Category, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Brand, new { @class = "font-italic" })
                        @Html.TextBoxFor(model => model.Brand, Model.BrandText, new { @class = "form-control", @readonly = true,@id = "Brand" })
                        @Html.ValidationMessageFor(c => c.Brand, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Name, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @readonly = true, @id = "Name" })
                        @Html.ValidationMessageFor(c => c.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Description, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @Required = "Required", @readonly = true, @id = "Description" })
                        @Html.ValidationMessageFor(c => c.Description, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.BuyingPrice, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.BuyingPrice, new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(c => c.BuyingPrice, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.SellingPrice, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.SellingPrice, new { @class = "form-control", @readonly = true, @id = "SellingPrice" })
                        @Html.ValidationMessageFor(c => c.SellingPrice, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        @{

                            if (Model.IsAvilable == true)
                            {
                                Model.IsAvilableText = "نعم";
                            }
                            else { Model.IsAvilableText = "لا"; }
                        }
                        @Html.LabelFor(x => x.IsAvilable, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.IsAvilableText, new { @class = "form-control", @readonly = true , @id = "Avilable" })
                    </div>
                </div>
            </div>
    
         
                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        @{ var image64 = System.Text.Encoding.UTF8.GetString(Model.Image);
                            var imgSrc = String.Format("data:image/jpeg;base64,/{0}", image64);
                            <div>
                                <img style="    height: 266px;" src="@imgSrc" />
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        <button id="Save" type="submit" class="btn btn-primary font-italic" style="display: none; margin: 6% auto;">Save</button>
                    </div>
                </div>

        </row>
    </fieldset>
    <div class="form-group row col-md-12">
        <div class="col-md-4">
            <text id="Edit" class="btn btn-primary font-italic" style="display: block; margin: 6% auto;">Edit</text>
        </div>
        <div class="col-md-4">
            <text id="Delete" class="btn btn-primary font-italic" name="test" style="display: block; margin: 6% auto;">Not Avilable</text>
        </div>
    </div>

}
<script>
    $("#Edit").click(function () {
        $("#thisform :input").prop("readonly",false);
        $("#Edit").hide();
        $("#Delete").hide();
        $("#Save").show();
        $('#Avilable').attr("disabled", true) 
        $('#Category').attr("disabled", true) 
        $('#Brand').attr("disabled", true) 


    });
    $("#Delete").click(function () {
       
        var val = $("#Id").val();
        window.location.href = '/Home/DeleteItem/' + val;
        var ControlName = $('#Avilable').val();
        if (ControlName == "لا") {
            $(function () {
                $("#Delete").text("Avilable");
            });
        } else {
            $(function () {
                $('.Delete input').text("Delete");
            });
        }
        
    });


    $(document).ready(function () {
        var ControlName = $('#Avilable').val();
        if (ControlName == "لا") {
            $(function () {
                $("#Delete").text("Avilable");
            });
        } else {
            $(function () {
                $('.Delete input').text("Not Avilable");
            });
        }
            var errorMassag = '@ViewBag.ErrorMassag';
            if ( errorMassag != "")
            {
                $(".Error").show().delay(5000).fadeOut();
              }
          });

           var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                $("#Image").val(reader.result);
                var output = document.getElementById('output');
                output.src = reader.result;
            };
            var x = reader.readAsDataURL(event.target.files[0]);
    };


    function myFunction() {
        var x = document.getElementById("Save");
        var z = document.getElementById("Edit");

        if (x.style.display === "none") {
            x.style.display = "block";
            z.style.display = "none";

     
        }
        document.getElementById('Name').removeAttribute('readonly');
        document.getElementById('Description').removeAttribute('readonly');
        document.getElementById('BuyingPrice').removeAttribute('readonly');
        document.getElementById('SellingPrice').removeAttribute('readonly');

    }
        </script>



