
@model ApplicationService.ViewModels.GetAllElectricCigaretViewModel
@{
    ViewData["Title"] = "ViewAllItems";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    img {
        width:100%;
        border-radius:20px;
    }
</style>

@using (Html.BeginForm("CreatItem", "Home"))
{
    <div class="container">
        <row>
            <div class="form-group row col-md-12">
                @for (int i = 0; i < Model.ElectricCigarets.Count; i++)
                {

                    var image64 = System.Text.Encoding.UTF8.GetString(Model.ElectricCigarets[i].Image);
                    var imgSrc = String.Format("data:image/jpeg;base64,/{0}", image64);
                    @Html.HiddenFor(c => c.ElectricCigarets[i].Id)


                    <div class="col-md-4" >

                        <img  src="@imgSrc"  />
                        <br />
                        @Html.LabelFor(x => x.ElectricCigarets[i].Name)
                        @Html.DisplayFor(x => x.ElectricCigarets[i].Name)
                        <br />
                        @Html.DisplayNameFor(x => x.ElectricCigarets[i].Price)
                        @Html.DisplayFor(x => x.ElectricCigarets[i].Price, new { @class = "form-control" })
                    </div>

                } @*End for*@
            </div>
        </row>
    </div>
}


<script src="~/lib/jquery/dist/jquery.js" type='text/javascript'></script>
<script src="~/lib/jquery/dist/jquery.min.js" type='text/javascript'></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js" type='text/javascript'></script>
<script src="~/lib/jquery-validation/dist/additional-methods.js" type='text/javascript'></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" type='text/javascript'></script>
<script src="~/js/site.js" type='text/javascript'></script>


