@using ApplicationService.ViewModels
@model ApplicationService.ViewModels.AddJuiceViewModel
@{
    ViewData["Title"] = "AddItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("CreateJuice", "Juice"))
{
    @Html.HiddenFor(c => c.TypeId)
    <fieldset>
        <row>
            <div class="col-md-6">
                <div class="Error form-control text-danger" style="display:none;"> @ViewBag.ErrorMassag </div>
            </div>
            <div class="col-md-12">
                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.BrandId, new { @class = "font-italic" })
                        @Html.DropDownListFor(model => model.BrandId, Model.BrandSelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.BrandId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.CategoryId, new { @class = "font-italic" })
                        @Html.DropDownListFor(model => model.CategoryId, Model.CategorySelectList, new { @class = "form-control", @placeholder = "-Select-" })
                        @Html.ValidationMessageFor(c => c.CategoryId, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Name, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Description, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @Required = "Required" })
                        @Html.ValidationMessageFor(c => c.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.SellingPrice, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.SellingPrice, new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.SellingPrice, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.BuyingPrice, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.BuyingPrice, new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.BuyingPrice, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row col-md-12">

                    @for (int i = 0; i < Model.NicotinePercentage.Count(); i++)
                    {
                        @Html.HiddenFor(x => x.NicotinePercentage[i].Id)
                        <div class="col-md-1">
                            @Html.DisplayFor(x => x.NicotinePercentage[i].Name, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                            @Html.TextBoxFor(x => x.NicotinePercentage[i].CountToInsert, new { @class = "form-control" })

                        </div>
                        <div class="col-md-1">
                            @Html.CheckBoxFor(x => x.NicotinePercentage[i].IsChecked, new { @class = "form-control", @id = "Checked" })
                        </div>
                    }

                </div>
                <div class="form-group row col-md-12">

                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Image, new { @class = "font-italic" })
                        @Html.HiddenFor(x => x.Image)
                        <input class="btn btn-default" type="file" accept="image/*" onchange="loadFile(event)">
                        <img id="output" style="width:300px" />
                        @Html.ValidationMessageFor(c => c.Image, "", new { @class = "text-danger" })
                    </div>

                </div>



            </div>
            <div>
                <button type="submit"style="    margin-left: 45px;" class="btn btn-primary font-italic" value="submit"  margin: 6% auto;" onclick="return submitWith();" id="Submit">حفظ</button>

            </div>
           
        </row>
    </fieldset>
}
    @*<form id="CreateItem" action="@Url.Action("submitSearch","Home")">
        //Form Fields  textbox
        <button id="test" type="submit"></button>
    </form>*@

<script>
          $(document).ready(function () {
            var errorMassag = '@ViewBag.ErrorMassag';
            if ( errorMassag != "")
            {
                $(".Error").show().delay(5000).fadeOut();
              }

              $('#CategoryId').change(
                  function () {
                      @* when the category changed bring the new nicotine percentage for it *@

                      var val = $(this).val();
                      window.location.href = '/Juice/NicotinePercentage/' + val;
                  }
              );
          });
           var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                $("#Image").val(reader.result);
                var output = document.getElementById('output');
                output.src = reader.result;
            };
            var x = reader.readAsDataURL(event.target.files[0]);
    };
    function submitWith() {
        var checkedCount = $("#Checked:checked").length;
  
        var valid = checkedCount > 0;


        if (!valid) {
            alert(' الرجاء اختيار نسبة النيكوتين');
         
                event.preventDefault();
           
        }
        return valid;
    }


</script>



