
@using ApplicationService.ViewModels
@model ApplicationService.ViewModels.GetJuiceViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "GetItemById";
}

<h1>Details</h1>


@using (Html.BeginForm("UpdateItem", "Home"))
{
    <fieldset id="thisform">
        <row>
            @Html.HiddenFor(c => c.Id)
            <div class="col-md-6">
                <div class="Error form-control text-danger" style="display:none;"> @ViewBag.ErrorMassag </div>
            </div>
            <div class="col-md-12">
                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Category, new { @class = "font-italic" })
                        @Html.TextBoxFor(model => model.Category, Model.CategoryText, new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(c => c.Category, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Brand, new { @class = "font-italic" })
                        @Html.TextBoxFor(model => model.Brand, Model.BrandText, new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(c => c.Brand, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Name, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(c => c.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Description, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @Required = "Required", @readonly = true })
                        @Html.ValidationMessageFor(c => c.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.SellingPrice, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.SellingPrice, new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(c => c.SellingPrice, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-4">
                        @Html.LabelFor(x => x.BuyingPrice, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.BuyingPrice, new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(c => c.BuyingPrice, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row col-md-12">

                    @*<div class="col-md-4">
                        @{

                            if (Model.IsAvilable == true)
                            {
                                Model.IsAvilableText = "نعم";
                            }
                            else { Model.IsAvilableText = "لا"; }
                        }
                        @Html.LabelFor(x => x.IsAvilable, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.IsAvilableText, new { @class = "form-control", @readonly = true })
                    </div>*@
                </div>
                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        @{ var image64 = System.Text.Encoding.UTF8.GetString(Model.Image);
                            var imgSrc = String.Format("data:image/jpeg;base64,/{0}", image64);
                            <div>
                                <img style="    height: 266px;" src="@imgSrc" />
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        <button id="Save" type="submit" class="btn btn-primary font-italic" style="display: none; margin: 6% auto;">Save</button>
                    </div>
                </div>
            </div>
        </row>
    </fieldset>
    <div class="form-group row col-md-12">
        <div class="col-md-4">
            <text id="Edit" class="btn btn-primary font-italic" style="display: block; margin: 6% auto;">Edit</text>
        </div>
        <div class="col-md-4">
            <text id="Delete" class="btn btn-primary font-italic" style="display: block; margin: 6% auto;">Delete</text>
        </div>
    </div>

}
<script>
    $("#Edit").click(function () {
        $("#thisform :input").prop("readonly",false);
        $("#Edit").hide();
        $("#Delete").hide();
        $("#Save").show();
    });
    $("#Delete").click(function () {
        var val = $("#Id").val();
        window.location.href = '/Home/DeleteItem/' + val;
    });


    $(document).ready(function () {

            var errorMassag = '@ViewBag.ErrorMassag';
            if ( errorMassag != "")
            {
                $(".Error").show().delay(5000).fadeOut();
              }
          });

           var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                $("#Image").val(reader.result);
                var output = document.getElementById('output');
                output.src = reader.result;
            };
            var x = reader.readAsDataURL(event.target.files[0]);
        };
</script>



