
@model ApplicationService.ViewModels.GetAllJuicesViewModel
@{
    ViewData["Title"] = "ViewAllItems";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    img {
        width: 100%;
        border-radius: 20px;
    }
</style>

@using (Html.BeginForm("CreatItem", "Home"))
{
    <div class="container">
        <row>
            <div class="form-group row col-md-12">
                @for (int i = 0; i < Model.ElectricCigarets.Count; i++)
                {

                    var image64 = System.Text.Encoding.UTF8.GetString(Model.ElectricCigarets[i].Image);
                    var imgSrc = String.Format("data:image/jpeg;base64,/{0}", image64);
                    @Html.HiddenFor(c => c.ElectricCigarets[i].Id)
                    <div class="col-md-4">
                        <a href="@Url.Action("GetItemById","Home",new {id=@Model.ElectricCigarets[i].Id})">
                            <img style="width:200px" src="@imgSrc" />
                        </a>
                        <br />
                        @Html.LabelFor(x => x.ElectricCigarets[i].Name)
                        @Html.DisplayFor(x => x.ElectricCigarets[i].Name)
                        <br />
                        @Html.DisplayNameFor(x => x.ElectricCigarets[i].SellingPrice)
                        @Html.DisplayFor(x => x.ElectricCigarets[i].SellingPrice, new { @class = "form-control" })
                    </div>

                } 
            </div>
        </row>
    </div>
}





