@model List<ApplicationService.ViewModels.Card.Item>
@{
    ViewData["Title"] = "ViewAllSelectedItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img {
        display: inline-block !important;
        width: auto !important;
        max-width: 100% !important;
        height: auto !important;
        max-height: 100% !important;
    }
</style>
<div class="row">
    <div class="table-responsive">

        <table id="dtBasicExample" class="table table-striped  table-bordered col-sm-12" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">
                        Name
                    </th>

                    <th class="th-sm">
                        Price
                    </th>
                    <th class="th-sm">
                        Qunit
                    </th>

                    <th class="th-sm">
                        Image
                    </th>
                    <th class="th-sm">
                        Item
                    </th>
                    <th class="th-sm">
                        Remove
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var Item in Model)
                {

                    // note becareful when adding new culomn since the order is imporant
                    <tr>
                        <td style="display:none">
                            @Item.Product.ItemId
                        </td>
                        <td style="display:none">
                            @Item.Product.JuiceId
                        </td>
                        <td style="display:none">
                            @Item.Product.JuiceMangmentId
                        </td>
                        <td>@Item.Product.Name</td>
                        <td>@Item.Product.Price</td>
                        <td>@Item.Quantity</td>
                        <td>
                            @{ var image64 = System.Text.Encoding.UTF8.GetString(Item.Product.Photo);
                                var imgSrc = String.Format("data:image/jpeg;base64,/{0}", image64);
                                <img src="@imgSrc" />
                            }
                        </td>
                        <td>
                            @if (Item.Product.ItemId != 0)
                            {
                                <a href="@Url.Action("ViewItemDetails","Customer", new { id=Item.Product.ItemId } )">Click</a>
                            }
                            else
                            {
                                <a href="@Url.Action("ViewJuiceDetails","Customer", new { id=Item.Product.JuiceId } )">Click</a>
                            }
                        </td>
                        <td>
                            <p>Click Here</p>
                        </td>
                    </tr>
                }

            </tbody>
            <tfoot>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Position
                    </th>
                    <th>
                        Office
                    </th>
                    <th>
                        Age
                    </th>
                    <th>
                        Start date
                    </th>
                    <th>
                        Salary
                    </th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
<form id="form">
    <div>
        <label class="bor">Delivery Option</label><br>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label>City</label>
                <select required class="browser-default custom-select" id="City">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Amman</option>
                    <option value="2">Irbid</option>
                    <option value="3">Zarqa</option>
                    <option value="4">Jrash</option>
                </select>
                <br>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label>Area-Neighborhood-building number</label>
                <input type="text" class="form-control" name="Area" placeholder="Enter the Data Here" id="Address" required><br>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success" id="ApproveOrder">Confirm Order</button>
</form>


<script>
    $(document).ready(function () {
        $('#dtBasicExample tbody').on('click', 'p', function () {
            debugger;

            var currentRow = $(this).closest("tr");
            var Item = {
                ItemId: Number(currentRow.find("td:eq(0)").text().trim()),
                JuiceId: Number(currentRow.find("td:eq(1)").text().trim()),
                JuiceMangmentId: Number(currentRow.find("td:eq(2)").text().trim()),
                Quantity: 0
            }
            debugger;
        $.ajax(
            {
                url: '@Url.Action("Remove", "Customer")',
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                data: JSON.stringify(Item),
                type: "POST",
                success: function () {
                    currentRow.remove()
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    debugger;
                    if (xhr.status == 403)
                    {
                        alert("Somethign wrong happened please contact us directly to help you:)");
                        window.location.href = '/Identity/Account/Login';
                    }
                }
            });
        });
    });

    $("#ApproveOrder").click(function () {

        var Order =
        {
            City: $("#City option:selected").text(),
            Address: $("#Address").val(),
        }
        debugger;
        if (Order.City == "" || Order.City == null)
            return;
        if (Order.Address == "" || Order.Address == null)
            return;
        $.ajax(
            {
                url: '@Url.Action("ConfirmOrder", "Customer")',
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                data: JSON.stringify(Order),
                type: "POST",
                success: function () {
                    alert("Your Order have been placed we will contact you within 24 hours thanks :)");
                    window.location.href = '/Identity/Account/Logout';

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    debugger;
                    if (xhr.status == 403)
                    {
                        alert("Somethign wrong happened please contact us directly to help you:)");
                        window.location.href = '/Identity/Account/Login';
                    }
                }
            });
    });

</script>