@model ApplicationService.ViewModels.GetElectricCigaretViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "GetItemById";
}

<h1>Details</h1>


@using (Html.BeginForm("UpdateItem", "Home"))
{
    <fieldset id="thisform">
        <row>
            @Html.HiddenFor(c => c.Id)
            <div class="col-md-6">
                <div class="Error form-control text-danger" style="display:none;"> @ViewBag.ErrorMassag </div>
            </div>
            <div class="col-md-12">
                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Category, new { @class = "font-italic" })
                        @Html.TextBoxFor(model => model.Category, Model.CategoryText, new { @class = "form-control", @readonly = true, @id = "Category" })
                        @Html.ValidationMessageFor(c => c.Category, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Brand, new { @class = "font-italic" })
                        @Html.TextBoxFor(model => model.Brand, Model.BrandText, new { @class = "form-control", @readonly = true, @id = "Brand" })
                        @Html.ValidationMessageFor(c => c.Brand, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Name, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @readonly = true, @id = "Name" })
                        @Html.ValidationMessageFor(c => c.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Description, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @Required = "Required", @readonly = true, @id = "Description" })
                        @Html.ValidationMessageFor(c => c.Description, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.BuyingPrice, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.BuyingPrice, new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(c => c.BuyingPrice, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.SellingPrice, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.SellingPrice, new { @class = "form-control", @readonly = true, @id = "SellingPrice" })
                        @Html.ValidationMessageFor(c => c.SellingPrice, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.CurrentlyCountAvilabil, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.CurrentlyCountAvilabil, new { @class = "form-control", @readonly = true, @id = "CurrentlyCountAvilabil" })
                        @Html.ValidationMessageFor(c => c.SellingPrice, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @{

                            if (Model.IsAvilable == true)
                            {
                                Model.IsAvilableText = "نعم";
                            }
                            else { Model.IsAvilableText = "لا"; }
                        }
                        @Html.LabelFor(x => x.IsAvilable, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.IsAvilableText, new { @class = "form-control", @readonly = true, @id = "Avilable" })
                    </div>
                </div>
            </div>


            <div class="form-group row col-md-12">
                <div class="col-md-4" id="CurrentImage">
                    @{ var image64 = System.Text.Encoding.UTF8.GetString(Model.Image);
                        var imgSrc = String.Format("data:image/jpeg;base64,/{0}", image64);
                        <div style="    width: 82%;height: 100%;">
                            <img style="    height: 266px;" src="@imgSrc" />
                        </div>
                    }
                </div>
                <div class="col-md-4" id="ImageDiv">
                    @Html.LabelFor(x => x.Image, new { @class = "font-italic" })
                    @Html.HiddenFor(x => x.Image)
                    <input id="ImageButton" class="btn btn-default" type="file" accept="image/*" onchange="loadFile(event)">
                    <img id="output" style="width:300px" />
                    @Html.ValidationMessageFor(c => c.Image, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row col-md-12">
                <div class="col-md-4">
                    <button id="Save" type="submit" class="btn btn-primary font-italic" style="display: none; margin: 6% auto;">Save</button>
                </div>
            </div>

        </row>
    </fieldset>
    <div class="form-group row col-md-12" style="    margin-right: -231px;margin-left: -132px;">
        <div class="col-md-4">
            <text id="Edit" class="btn btn-primary font-italic" style="display: block; margin: 6% auto;    width: 20%;">Edit</text>
        </div>
        <div class="col-md-4">
            <text id="Delete" class="btn btn-primary font-italic" name="test" style="display: block; margin: 6% auto;margin-left: -125px;width: 38%;">Not Avilable</text>
        </div>
    </div>
}
<script>



    $(document).ready(function () {

        $("#Buy").click(function () {
            var person = {
                ItemId: $("#id-name").val(),
                JuiceId: $("#id-address").val(),
                JuiceMangmentId: $("#id-phone").val(),
                Quantity: $("#id-address").val()
            }
        $.ajax(
            {
                url: '@Url.Action("Buy", "Customer")',
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                data: JSON.stringify(person),
                type: "GET",
                success: function () {
                    window.location = '@Url.Action("DownloadFileCSV", "Home")' + '?' + JsonData;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });


        });
</script>
