@model ApplicationService.ViewModels.GetElectricCigaretViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "GetItemById";
}

<h1>Details</h1>


@using (Html.BeginForm("UpdateItem", "Home"))
{
    <fieldset id="thisform">
        <row>
            @Html.HiddenFor(c => c.Id)
            <div class="col-md-6">
                <div class="Error form-control text-danger" style="display:none;"> @ViewBag.ErrorMassag </div>
            </div>
            <div class="col-md-12">
                <div class="form-group row col-md-12">

                    <div class="col-md-4">
                        <div class="form-group row col-md-12">
                            <div class="col-md-4" id="CurrentImage">
                                @{ var image64 = System.Text.Encoding.UTF8.GetString(Model.Image);
                                    var imgSrc = String.Format("data:image/jpeg;base64,/{0}", image64);
                                    <div style=" width: 82%;height: 100%;">
                                        <img style=" height: 266px;" src="@imgSrc" />
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4" style="direction:rtl; top:15px; text-align:right">
                        @Html.LabelFor(x => x.Brand, new { @class = "font-italic" })&nbsp
                        @Html.DisplayFor(model => Model.BrandText, new { @class = "form-control", @readonly = true, @id = "Brand" })
                        <br />

                        @Html.LabelFor(x => x.Category, new { @class = "font-italic" })&nbsp
                        @Html.DisplayFor(model => Model.CategoryText, new { @class = "form-control", @readonly = true, @id = "Category" })
                        <br />
                        @Html.LabelFor(x => x.Name, new { @class = "font-italic" })&nbsp
                        @Html.DisplayFor(x => x.Name, new { @class = "form-control", @readonly = true, @id = "Name" })
                        <br />
                        @Html.LabelFor(x => x.Description, new { @class = "font-italic" })
                        @Html.DisplayFor(x => x.Description, new { @class = "form-control", @id = "Description" })
                        <br />
                        @Html.LabelFor(x => x.SellingPrice, new { @class = "font-italic" })
                        @Html.DisplayFor(x => x.SellingPrice, new { @class = "form-control", @id = "SellingPrice" })
                        <br />
                        @Html.LabelFor(x => x.IsAvilable, new { @class = "font-italic" })
                        @Html.DisplayFor(x => x.IsAvilableText, new { @class = "form-control", @id = "Avilable" })
                    </div>

                    <div class="col-md-4">

                    </div>

                </div>
              


                <div class="form-group row col-md-12">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.BuyingPrice, new { @class = "font-italic" })
                        @Html.TextBoxFor(x => x.BuyingPrice, new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(c => c.BuyingPrice, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-md-4">


                    </div>

                </div>
                <div class="form-group row col-md-12">

                    @*<div class="col-md-4">
                            @{

                                if (Model.IsAvilable == true)
                                {
                                    Model.IsAvilableText = "نعم";
                                }
                                else { Model.IsAvilableText = "لا"; }
                            }

                        </div>*@
                </div>
            </div>



            <div class="form-group row col-md-12">
                <div class="col-md-4">
                    <button id="Save" type="submit" class="btn btn-primary font-italic" style="display: none; margin: 6% auto;">Save</button>
                </div>
            </div>

        </row>
    </fieldset>
    <div class="form-group  col-md-12">
        @*<div class="col-md-4">
                <text id="Edit" class="btn btn-primary font-italic" style="display: block; margin: 6% auto;    width: 20%;">Edit</text>
            </div>*@
        <div class="col-md-4">
            <text id="Delete" class="btn btn-primary font-italic" name="test">Not Avilable</text>
        </div>
    </div>
}
<script>



    $(document).ready(function () {

        $("#Buy").click(function () {
            var person = {
                ItemId: $("#id-name").val(),
                JuiceId: $("#id-address").val(),
                JuiceMangmentId: $("#id-phone").val(),
                Quantity: $("#id-address").val()
            }
        $.ajax(
            {
                url: '@Url.Action("Buy", "Customer")',
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                data: JSON.stringify(person),
                type: "GET",
                success: function () {
                    window.location = '@Url.Action("DownloadFileCSV", "Home")' + '?' + JsonData;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });


        });
</script>
